<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/photo.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/image.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('../partials/back-to-top-script') %>
    <title>Photo Community</title>
</head>
<body>

    <!-- NAVBAR + BACK TO TOP-->
    <%- include('../partials/navbar_image', {sessione: sessione}); %>

    <% if (message) { %>
        <div style="text-align: center" class="alert alert-<%=message.type%>">
            <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
            <strong><%= message.intro %></strong> <%= message.message %>
        </div>
    <% } %>

    <!-- IMMAGINE E INFO-->
    <div class="container">
        <div class="row m-3">
            <img src="../images/<%= tagID %>" class="center img-fluid" loading="lazy">
        </div>
        <hr class="solid m-3">
        <div class="row m-3">
            <h3 class="campi">Photographer:
                <a class="link_user" href="../user/<%= risultato[0].username %>"><%= risultato[0].username %></a>
            </h3>
            
            <h3 class="campi">Camera: 
                <span style="font-weight:100;"><%= risultato[0].camera %></span>
            </h3>
            <h3 class="campi">Lens:
                <span style="font-weight:100;"><%= risultato[0].lente %></span>
            </h3>
            <h3 class="campi">Focal length:
                <span style="font-weight:100;"><%= risultato[0].distanza %></span>
            </h3>
            <h3 class="campi">ISO:
                <span style="font-weight:100;">
                    <%= risultato[0].iso %>
                </span> 
            </h3>             
            <h3 class="campi">F:
                <span style="font-weight:100;">
                    <%= risultato[0].f %>
                </span> 
            </h3>
            <h3 class="campi">Shutter speed:
                <span style="font-weight:100;"><%= risultato[0].shutter_speed %></span>
            </h3>
            </div>
        </div>
    </div>
    